body {
    background: #E5E5E5;
    font-size: 12px;
}

.loginblock {
    position: fixed;
    width: 50%;
    height: 87%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.logo {
    position: absolute;
    width: 18%;
    left: 0;
    right: 0;
    margin: auto;
    top: 14%;
}

.welcome {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 1.5em;
    text-align: center;
}

.googleBtn {
    position: absolute;
    width: 45%;
    top: 25%;
    left: 0;
    right: 0;
    height: 6%;
    margin: 2% auto;
    background: #D95140;
    border-radius: 20px;
    color: #FFF;
    border-color: #FFF;
    border: none;
}

.btnLogo {
    position: relative;
    vertical-align: middle;
    right: 2%;
}

.facebookBtn {
    position: absolute;
    width: 45%;
    top: 33%;
    left: 0;
    right: 0;
    height: 6%;
    margin: 2% auto;
    background: #1877F2;
    border-radius: 20px;
    color: #FFF;
    border: none;
}

.appleBtn {
    position: absolute;
    width: 45%;
    top: 41%;
    left: 0;
    right: 0;
    height: 6%;
    margin: 2% auto;
    color: #000;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 20px;
}

.loginhr {
    position: absolute;
    width: 45%;
    top: 47%;
    left: 0;
    right: 0;
    margin: 2% auto;
    height: 20px;
    border-bottom: 1px solid #A5A5A5;
}

input{
    position: relative;
    box-sizing:border-box;
    padding-left: 30px;
    width: 100%;
    line-height: 40px;
    background: #FAFAFA;
    border: 2px solid #A5A5A5;
    border-radius: 20px;
    font-size: medium;
    margin: 2% 0%;
}

label {
    position: relative;
    line-height: 17px;
    color: #A5A5A5;
    font-size: 3px;
}

.form {
    position: absolute;
    width: 45%;
    left: 0;
    right: 0;
    top: 51%;
    margin: 2% auto;
}

.login {
    width: 100%;
    background: #FFFFFF;
    border: 2px solid #A5A5A5;
    border-radius: 20px;
    margin: 4% 0;
    padding:8px 0px;
    font-weight: 700;
    font-size: 1em;
    color: #868686;
}

a:link {
    color: #A5A5A5;
}

a:visited {
    color: #1877F2;
}

.link {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.field {
    margin-left: 2%;
}

a {
    text-decoration: underline;
    font-size: small;
}
