html, body {
    padding: 0;
    margin: 0;
    font-size: 10px;
}

.div1 {
    position: fixed;
    width: 45vmax;
    height: 100vh;
    right:0;
    background: #3064B9;
}

.img1 {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 60%;
    margin: auto;
}

.landingLogo {
    position: absolute;
    height: 4%;
    right: 6%;
    bottom: 4%;
}

.cloud {
    position: absolute;
    width: 14%;
    left: 20%;
    top: 14%;
}

.money {
    position: absolute;
    width: 8%;
    left:22%;
    top: 30%;
}

.people {
    position: absolute;
    width: 10%;
    left: 35%;
    top: 25%;
}

.div2 {
    position: absolute;
    width: 37%;
    height: 43%;
    left: 4.5%;
    top: 29%;
}

.title {
    position: relative;
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 3rem;
    line-height: 100%;
    color: #000000;
}

.context {
    position: relative;
    margin: 2% 0%;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 100%;
    color: #000000;
}

.start {
    position: relative;
    width: 25%;
    border-radius: 40px;
}

.hr {
    position: relative;
    height: 20px;
    border-bottom: 1px solid #A5A5A5;
}

.icon {
    display:flex;
    margin-top: 3%;
}

.boxIcon {
    flex:1;
}

.box {
    font-size: 1.5rem;
}

.littleTitle{
    position: relative;
    margin: 0;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 29px;
    color: #000000;
}

.icontext {
    position: relative;
    margin-top: 0;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-size: 0.7rem;
    color: #000000;
}

.chartIcon {
    flex:1;
}

.chart {
    font-size: 1.5rem;
}